.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.body {
  background-color: rgba(208, 208, 208, 0.994);
}
/* sherd-item */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.display-flex {
  display: flex;
}
.text-gray {
  color: #867979;
}
.text-heding {
  color: #e95a08;
}
.text-light-gray {
  color: #060202;
}
.btn {
  width: 100%;
  height: 50px;
  background-color: #e95a08;
  font-size: 1rem;
  color: white;
  font-weight: 600;
}
.btns {
  width: 186px;
  height: 50px;
  background-color: #e95a08;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
/* nav-item */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 1.5rem;
  font-weight: 800;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
  max-width: 1200px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

/* main-section */
.section-always {
  margin-top: 119px;
}
.always-item {
  margin-top: 150px;
}
.item-title {
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: 700;
}
.text-tilte {
  font-size: 1.3rem;
}

/* our-section */
.our-item {
  margin-top: 142px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 49px;
}
.our-title {
  font-size: 3rem;
  margin-bottom: 0;
}
.our-text {
  font-size: 1.5rem;
  font-family: 700;
  margin-top: 0;
}

/* product-grid */
.product-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  border-color: #e95a08;
}
.product-card {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 0 50px bisque;
}
.product-card img {
  width: 100%;
  height: auto;
}
/* Flower-Plants-section */
.Plants {
  margin-top: 150px;
}
.Plants img {
  width: 540px;
  height: 597px;
}
.Plants-section {
  padding-left: 30px;
  padding: 0 38px;
  align-items: center;
}
.Plants-title {
  font-size: 3rem;
  margin-right: 133px;
  margin-bottom: 0;
}

.Plants-section li {
  font-size: 22px;
  gap: 20px;
}
.icon-img img {
  width: 280px;
  height: 280px;
  position: absolute;
  margin-left: 360px;
  margin-top: -110px;
}

/* Latest-section */
.Latest-section {
  margin-top: 120px;
  text-align: center;
}
.Latest-section h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.Latest-section p {
  font-size: 1.5rem;
}

/*  Deal section */

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  position: relative;
}
.right-column {
  flex: 2;
  display: flex;
  position: relative;
}

.deals-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  max-width: 1140px;
  margin: 80px auto;
}

.deal-img {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
}
.deal-img-1 {
  position: relative;
  width: 100%;
  height: auto;

  object-fit: cover;
  display: block;
}
.deal-img-1 img {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 8px;
}

.right-column .deal-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.over-lay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.over-lay p1 {
  font-size: 1.6rem;
}

.pic1 {
  width: 100%;
  border-radius: 12px;
}
.over-lay p {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.deals-container a {
  color: white;
  font-size: 23px;
}

/* section-Join  */
.section-Join {
  width: 100%;
  height: 333px;
  margin: auto;
  text-align: center;
  background-image: url(./img/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 25px;
}
.section-Join h2 {
  font-size: 3rem;
  color: white;
}
.btns-section {
  display: flex;
  justify-content: center;
}
.btns-section input {
  width: 14rem;
  height: 30px;
  border: none;
  padding: 10px 150px;
}

/*footer-link */
.footer-main {
  margin-bottom: 70px;
  margin-top: 120px;
  justify-content: space-around;
}

.footer-link {
  display: flex;
}
.text {
  color: #060202;
}
.nav {
  list-style: none;
}
ul li {
  margin-top: 20px;
}
.footer-main-text {
  width: 360px;
  height: 180px;
}
.footer-icon img {
  margin-right: 20px;
  cursor: pointer;
}

/* Mobile-media-quare */

@media screen and (max-width: 576px) {
  .section-always {
    flex-direction: column-reverse;
  }
  .always-item {
    margin-top: 0;
  }
  .item-title {
    font-size: 2rem;
  }
  .text-tilte {
    font-size: 1rem;
  }
  .our-item {
    margin-top: 0;
  }
  .our-title {
    font-size: 2rem;
  }
  .our-text {
    font-size: 1rem;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-bottom: 40px;
  }
  .nav-item:nth-child(1),
  .nav-item:nth-child(2),
  .nav-item:nth-child(3) {
    display: none;
  }

  .icon-img img {
    display: none;
  }
  .Plants {
    flex-direction: column;
    margin-top: 0;
  }
  .Plants {
  }
  .Plants-title {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .Plants-section li {
    font-size: 1rem;
  }
  .Plants img {
    width: 100%;
  }
  .Latest-section {
    margin-top: 10;
  }
  .Latest-section h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .Latest-section p {
    font-size: 1rem;
  }

  .deals-container {
    flex-direction: column;
    width: 100%;
  }
  .pic1 {
    width: 100%;
    height: 210px;
  }
  .section-Join {
    width: 65%;
    height: 200px;
    margin: auto;
    padding: 0 80px;
  }
  .section-Join h2 {
    font-size: 2rem;
  }
  .btns-section input {
    width: 2.2rem;
  }
  .btns {
    width: 100px;
  }
  .footer-main,
  .footer-link {
    flex-direction: column;
  }
}
