.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.body {
  background-color: rgba(208, 208, 208, 0.994);
}
/* sherd-item */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.display-flex {
  display: flex;
}
.text-gray {
  color: #968888;
}
.text-heding {
  color: #e95a08;
}
.text-light-gray {
  color: #060202;
}
.btn {
  width: 100%;
  height: 50px;
  background-color: #e95a08;
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

/* nav-item */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 1.5rem;
  font-weight: 800;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
  max-width: 1200px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

/* main-section */
.section-always {
  margin-top: 119px;
}
.always-item {
  margin-top: 150px;
}
.item-title {
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: 700;
}
.text-tilte {
  font-size: 1.3rem;
}

/* our-section */
.our-item {
  margin-top: 142px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 49px;
}
.our-title {
  font-size: 3rem;
  margin-bottom: 0;
}
.our-text {
  font-size: 1.5rem;
  font-family: 700;
  margin-top: 0;
}

/* product-grid */
.product-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
  border-color: #e95a08;
}
.product-card {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 0 50px bisque;
}
.product-card img {
  width: 100%;
  height: auto;
}

/* Flower & Plants Lover */
.Plants {
  margin-top: 150px;
}
.Plants img {
  width: 540px;
  height: 500px;
}
.Plants-section {
  padding-left: 30px;
  padding: 0 38px;

  align-items: center;
}
.Plants-title {
  font-size: 3rem;
  margin-right: 133px;
}
.Plants-section li {
  gap: 20px;
}
/* Mobile-media-quare */

@media screen and (max-width: 576px) {
  .section-always,
  .Plants {
    flex-direction: column-reverse;
  }
  .always-item {
    margin-top: 0;
  }
  .item-title {
    font-size: 2rem;
  }
  .our-item {
    margin-top: 0;
  }
  .our-title {
    font-size: 2rem;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .Plants {
    flex-direction: column;
  }
  .Plants-title {
    font-size: 1.2rem;
  }
  .Plants img {
    width: 100%;
  }
}
